<!-- Toolbar -->
<ion-toolbar color="dark">
  <ion-buttons slot="primary">
    <ion-button color="danger">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="danger">AlwaysMovies</ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true" >
  <!-- Ion slide that display each movie category and include a button which takes you 
  to a secific page -->
  <ion-slides fullscreen class="ion-padding" scroll-y="false">
    <ion-slide color="danger">
      <div class="slide" >
        <img src="https://www.kindpng.com/picc/m/107-1079551_cinema-vector-popcorn-with-cartoon-film-3d-clipart.png"/>
        <h2>Welcome To AlwaysMovies</h2>
        <p>The <b>HOME</b> of all movies from around the World. <b>Slide To The Left For Movies</b></p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://www.pngkey.com/png/detail/123-1234946_foxtel-comedy-foxtel-movies.png"/>
      <h2>AlwaysMovies The Home Of Comedies</h2>
      <p><b>AlwaysMovies</b> provieds you with all the comedies you need! CLICK THE BUTTON BELOW TO VIEW COMEDIES.</p>
      <ion-button [routerLink]="'/comedymovie'">Go To Comedies</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="https://www.nicepng.com/png/detail/166-1668840_horror-movie-name-png.png"/>
      <h2>AlwaysMovies The Home Of Horror</h2>
      <p><b>AlwaysMovies</b> provieds you with all the horror movies you need! CLICK THE BUTTON BELOW TO VIEW HORROR MOVIES.</p>
      <ion-button [routerLink]="'/horrormovie'">Go To Horrors</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="https://www.kindpng.com/picc/m/251-2513289_image-criminal-clipart-cartoon-crime-clipart-png-transparent.png"/>
      <h2>AlwaysMovies The Home Of Crime</h2>
      <p><b>AlwaysMovies</b> provieds you with all the crime movies you need! CLICK THE BUTTON BELOW TO VIEW CRIME MOVIES.</p>
      <ion-button [routerLink]="'/crimemovie'">Go To Crime</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="https://www.pngmart.com/files/10/Happy-New-Year-2020-PNG-Transparent.png"/>
      <h2>AlwaysMovies Provides Movies From Every Year</h2>
      <p><b>CLICK</b> the button below to search for Love movies from 2020</p>
      <ion-button [routerLink]="'/yearmovie'">Go To Crime</ion-button>
    </ion-slide>


  </ion-slides>
  <ion-footer >
    <ion-toolbar color="dark">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>


<style>
  ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 200px;
    max-width: 250px;
    margin: 20px 0 5px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

</style>


